.Main {
}

#nyan {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    
    top: 0; bottom: 0;
    right: 15px;
}

#rainbow {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    height: 133px;
    
    top: 0; bottom: 0;
    right: 220px; left: 0;

    background-image: url('nyanrainbow.png');
    background-repeat: repeat-x;
}

