
.Rainbow-nyan {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;

    top: 0; bottom: 0;
    left: 450px; right: 0px;
}

.Rainbow-rainbow {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    height: 133px;
    width: 2000px;

    top: 0; bottom: 0;
    right: 0; left: -1500px;

    background-image: url('../main.reel/nyanrainbow.png');
    background-repeat: repeat-x;
}

